# See https://www.dartlang.org/guides/libraries/private-files

# Dart/Flutter build and pub artifacts
.dart_tool/
.packages
build/
pubspec.lock
coverage/

# Editor directories
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp